header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ========== CTA ======== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

/* ========== Header Socials ======== */
.header__socials {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content:'';
    width: 2px;
    height: 2rem;
    background: var(--color-primary);
}

/* ========== Me ======== */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
}

/* ========== Scroll Down ======== */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    font-weight: 300;
    font-size: .9rem;
    transform: rotate(90deg);
}

/* ========= Media Query (Small Devices) ========== */
@media screen and (max-width: 600px) {
    .header__socials, .scroll__down {
        display: none;
    }
}